/*General CSS START*/
a {
    color: #222;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: all ease 0.4s;
}

body {
    margin: 0;
    background-color: #fff;
    color: #777777;
    font-weight: 300;
    line-height: 1.65em;    
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

section {
    padding: 140px 0 0 0;
}
/*General CSS END*/

/* Section number Start */
.facts-area {
    padding: 120px 0;
    background: #ffd201;
    color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.facts-area h1 {
    font-size: 46px;
    margin: 17px;
}

.facts-area h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1em sans-serif;
}

.row {
    width: 100%;
    display: flex;
    gap:20px;
}

.col-3 {
    width:25%;
}
/* Section number End */
