/*General Post CSS START*/
a {
    color: #222;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: all ease 0.4s;
}

body {
    font-family: 'Poppins';
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    line-height: 1.5em;
}

.container {
    width: 800px;
    margin: 0 auto;
}

section {
    padding: 140px 0 0 0;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
/*General Post CSS END*/


/* Section head Start */
.stm_post_details ul li:first-child {
    margin: 0;
}

.stm_post_details ul li {
    color: #fff;
    text-transform: none;
    font-weight: 400;
}

.stm_post_details ul li {
    float: left;
    margin: 0 0 0 20px;
    font-size: 13PX;
}

.stm_post_details .comments_num {
    font-weight: 400;
    margin-top: 0;
    font-size: 13PX;
}

.stm_post_details .comments_num {
    text-transform: uppercase;
    padding-left: 15px;
    margin: -3px 0 0 auto;
    text-align: right;
}

.stm_post_details i{
    font-size: 18PX;
}

.stm_single_post_style_24 .stm_post_details {
    padding: 11px 15px 9px;
}

.stm_post_details {
    padding: 15px 30px;
    margin: 0;
    border: 0;
}

.wtc {
    color: #fff !important;
}

.stm_post_details {
    width: 100%;
    display: flex;
    position: relative;
    border-top: 1px solid #ccc;
    padding: 17px 0 0;
    margin: 0 0 14px;
    background-color: #ffd201;
    margin-bottom: 0%;
}

/*.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Section head END */


/* Section text Start */
.stm_single_post_style_24 .stm_author_box__content {
    line-height: 24px;
}

.stm_author_box__content {
    overflow: hidden;
    line-height: 20px
}

body .stm_mgb_20 {
    margin-bottom: 20px;
}

.container .vc_container {
    width: 100%;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.text-left {
    text-align: left;
}

.h3, h3 {
    font-family: 'Poppins';
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 15px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.wpb_wrapperfirst{
    float: left;
}

.wpb_wrappersecend {
    float: right;
}
/* Section text End */


/* Section BTN Start */
.stm_single_post_style_24 .stm_post_panel .stm_single_post__tags a {
    font-size: 13px;
    background-color: #f5f5f5;
    padding: 10px 22px;
    border-radius: 20px;
    display: inline-block;
    line-height: 20px;
    font-weight: 700;
}

.stm_flex {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stm_single_post_style_24 .stm_post_panel .stm_single_post__tags a:not(:last-child) {
    margin-right: 10px;
}

.stm_single_post_style_24 .stm_post_panel .stm_single_post__tags a:hover {
    color: #fff !important;
    background-color: #ffd201;
}

.stm_flex_justify_space_between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stm_flex {
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stm_share {
    margin-bottom: 7px;
}

.icon-box>img{
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.stm_share a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.stm_share img:hover {
    background-color: #bbb;
    color: #fff;
    border-radius: 4px;
    opacity: 1;
}
/* Section BTN End */


/* Section box Start */
.stm_single_post_style_24 .stm_author_box__name {
    margin: -4px 0 3px;
    color: inherit;
    text-transform: none;
    font-size: 14px;
}

.stm_author_box__name {
    font-size: 11px;
    text-transform: uppercase;
    color: #aaa;
    margin: 0 0 10px;
}

.stm_single_post_style_24 .stm_author_box__content {
    line-height: 24px;
}

.stm_author_box__content {
    overflow: hidden;
    line-height: 20px;
}

.stm_author_box {
    position: relative;
    padding: 20px;
    background: #f6f6f6;
}

.stm_author_box__avatar {
    float: left;
    width: 87px;
    margin: 0 27px 0 0;
}

body .stm_mgb_50 {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    transform: translateZ(0);
    vertical-align: middle;
    border: 0;
}
/* Section box End */