* {
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:root {
  --black: #232323;
  --gray: #4f4f4f;
  --White: #fff;
  --green: #1bc744;
  --yellow: #ffd201;
  --laptopL: 1440px;
  --laptop: 1024px;
  --tablet: 768px;
  --mobile: 375px;
}

/* bottom-header css code [start] */
.bottom-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 155px;
  background-color: var(--White);
  margin: 00px auto;
  z-index: 111;
  width: -webkit-fill-available;
  padding-top: 30px;
}
/* header-links css code [start] */
.header-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/* header-navigation css code [start] */
.header-navigation {
  display: flex;
  list-style-type: none;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 540px;
  gap: 33px;
  padding: 0;
  position: relative;
}
.header-navigation li {
  position: relative;
  text-align: center;
}
/* header-bar css code [start] */
.header-bar {
  height: min-content;
}
.header-bar:hover a {
  transition: all 300ms ease;
}
.header-bar a:hover {
  color: var(--yellow);
}
.header-bar:hover::after {
  content: "";
  display: block;
  position: absolute;

  color: var(--yellow);
  width: 100%;
  border: 1px solid var(--yellow);
  top: 20px;
  transition-property: all;
  animation: header-bar 500ms forwards 1 ease;
}
@keyframes header-bar {
  0% {
    transform: translatey(1px);
  }
  100% {
    transform: translatey(10px) scaley(2);
  }
}
.header-bar:hover {
  transition: all 300ms ease;
  transition-delay: 8s;
}
/* header-bar css code [end] */

/* top-Elements css code [start] */
.top-Elements:hover > a {
  color: var(--yellow);
  transition: all 300ms ease;
}
.top-Elements:hover ul {
  visibility: visible;
  transition-delay: 1s;
}
/* Elements css code [start] */
.Elements {
  position: absolute;
  display: flex;
  width: max-content;
  top: 37px;
  left: -750px;
  width: 1126px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  background-color: #fff;
  /* transition: all 0s ease; */
  list-style-type: none;
  padding: 47px 71px 17px 0px;
  z-index: 3;
  height: max-content;
  margin: 0;
  justify-content: space-between;
  align-items: stretch;
  visibility: hidden;
  transition-delay: 1s;
}
.Elements ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* element css code [start] */
.elemenet {
  border-left: 3px solid #23232314;
  padding-left: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.elemenet ul li:hover {
  opacity: 0.4;
}
.elemenet-first {
  border-left: 1px solid #23232300;
}
.elemenet ul {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  height: max-content;
  border-left: #232323;
}
.elemenet span {
  display: block;
  margin-bottom: 26px;
}
.elemenet ul li {
  padding: 7px 0px;
}
/* element css code [end] */
/* Elements css code [end] */
/* top-Elements css code [end] */
/* header-navigation css code [end] */
/* header-links css code [end] */

/* call-number css code [start] */
.call-number {
  display: flex;
  margin-top: 10px;
}
.call-number a {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: color 0.3s;
  text-decoration: none;
  color: var(--black);
}
.call-number:hover a {
  color: var(--yellow);
}
.call-number:hover .fa-phone {
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.phone-icon {
  background-color: var(--yellow);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
}
.fa-phone::before {
  line-height: 48px;
}
.call-now {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.4px;
  transition: color 0.3s;
}
.call-now {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.4px;
  transition: color 0.3s;
}
/* bottom-header css code [end] */


*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*container all css start*/
#container{
  width: 340px;
  float: right;
  margin-left: 40px;
  margin-top: 20px;
  z-index: 11111;
}
.searchbox-yellow input:hover{
  border: 1.4px solid rgb(255, 217, 0);
  background-color: rgb(255, 255, 255);
}
.searchbox-yellow span:hover{
  color: #222222;
}
.CATEGORIES p:hover{
  color: #fff;
background-color: rgb(255, 217, 0);
}
.download-btn:hover h6{
  color:rgb(0, 0, 0) ;
}
.list-design-part:hover h6{
  color: rgb(245, 208, 0) ;
}
/*container all css end*/
/*top items css start*/
.top-items{
margin:0 auto;
margin-bottom: 30px;
}
.searchbox-yellow input{
padding: 6px 80px 6px 12px;
background-color: #fff;
border: 1px solid #e5e7e8;
outline: none;
background-color: #f0f0f0;
transition: 0.5s;
}
.searchbox-yellow{
  padding-bottom: 30px;
  border-bottom:3.5px solid rgb(255, 217, 0);
}
.searchbox-yellow input:hover{
  border: 1.4px solid rgb(255, 217, 0);
  background-color: rgb(255, 255, 255);
}
.searchbox-yellow span{
  color: #fff;
  background-color: rgb(255, 217, 0);
  padding: 11.3PX;
  margin-left: -4px;
  cursor: pointer;
  transition: 0.4s;
}
.searchbox-yellow span:hover{
  color: #222222;
}
.CATEGORIES{
  margin-top: 40px;
}
.CATEGORIES h5{
  font-weight: 700;
  margin-bottom: 25px;
}
.CATEGORIES p{
  font-size: 12.4px;
  font-weight: 650;
  background-color: rgb(238, 238, 238);
  padding: 15px 21px 15px 11px;
  margin-bottom: 3px;
  transition: 0.3s;
}
.CATEGORIES p:hover{
  color: #fff;
background-color: rgb(255, 217, 0);
}
.CATEGORIES{
  border-bottom:3.5px solid rgb(255, 217, 0);
}
.CATEGORIES p:nth-child(6){
margin-bottom: 30px;
}
.CATEGORIES p:nth-child(3){
color: #fff;
background-color: rgb(255, 217, 0);
}
/*top items css end*/
/*bottom items css start*/
.Dalmar-Johnson p{
  color: rgb(119, 119, 119);
  background: #eeeff2;
  padding: 25px 30px 60px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}
.Dalmar-Johnson::after{
  content: "";
    bottom: -14px;
    position: absolute;
    left: 65px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 14px 0 0;
    border-color: #eeeff2 transparent transparent;
}
.Dalmar-Johnson{
  position: relative;
  margin-bottom: 35px;
}
.Dalmar-Johnson::before{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 100px;
  line-height: 39px;
  content: "،،" !important;
  transform: translate3d(0,0,0);
  color:rgb(255, 217, 0);
}
.Johnson-PROPHILE{
  margin-bottom: 43px;
}
.Johnson-PROPHILE img{
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
.Johnson-PROPHILE H5{
  font-size: 16px;
  font-weight: 550;
}
.Johnson-PROPHILE p{
font-size: 11px;
margin-top: -5px;
font-weight: 500;
color: gray;
}
.download-btn span{
  color: #ffffff;
  padding-right: 20px;
  border-right:3px #fff solid;
  font-size: 20px;
}
.download-btn{
  background-color: rgb(255, 217, 0);
  padding: 11px 60px 3px 16px;
  border-radius: 6px;
  margin-bottom: 40px;
  transition: 0.3s;
  cursor: pointer;
  border:2px solid rgb(255, 217, 0);
}
.download-btn:hover{
  border:2px solid #222222;
}
.download-btn h6{
  font-size: 14px;
  font-weight: 700;
  padding-left: 50px;
  display: inline-block;
  color: #fff;
  transition: 0.3s;
}
.download-btn:hover h6{
  color:rgb(0, 0, 0) ;
}
.list-design-part:nth-child(1){
  border-top:3px solid #222222;
  padding-top: 40px;
}
.list-design-part img{
  float: left;
  margin-right: 20px;
}
.list-design-part p{
  font-size: 13px;
  font-weight: 500;
  color:  rgb(245, 208, 0);
}
.list-design-part h6{
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s;
}
.list-design-part{
  border-top:1px solid rgb(199, 199, 199);
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-design-part:hover h6{
  color: rgb(245, 208, 0) ;
}
/*bottom items css end*/
/*SECTION fourteen:Footer CSS [START]*/
.SECTION-footer {
  display: block;
  width: 100%;
}

.ALL-CONTAINER-FOOTER {
  width: 1300px;
  margin: 0 auto;
}

.Container-footer-items {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.footer-items {
  /* width: 300px;
  margin: 0 auto;
  margin-bottom: 40px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  gap: 14px;
}

.footer-items:first-of-type {
  width: 350px;
}
.Footer-bottom-item {
  
  opacity: 0.7;
}
.Footer-bottom-item ul li {
  color: rgb(248, 205, 11);
  
  padding: 3px 0;
}
.Footer-bottom-item a{
  text-decoration: none;
  color: var(--black);
}
.Footer-bottom-item a:hover {
  color: rgb(248, 205, 11);
}

.Footer-top-item img {
  cursor: pointer;
}

.Footer-bottom-item .ID {
  cursor: pointer;
  font-size: 16px;
}
.Footer-bottom-item p {
  padding: 11px 0;
}

.Footer-top-item {
  margin-bottom: 30px;
}

.bottom-text-footer {
  /* margin: 0 auto; */
  margin: 39px 0;
}

.bottom-text-footer p {
  font-size: 13.8px;
  opacity: 0.7;
}

.bottom-text-footer span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-items:nth-child(2) {
  width: 150px;
}

.Footer-bottom-item span {
  display: inline-block;
  margin-right: 10px;
  font-size: 22px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: rgb(248, 205, 11);
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.Footer-bottom-item span:nth-child(4) {
  font-family: poppins;
  font-weight: 700;
  transition: all 0.3s;
}

.Footer-bottom-item span:nth-child(4):hover {
  color: rgb(248, 205, 11);
  background-color: rgb(0, 0, 0);
}

.Footer-bottom-item span:hover {
  color: rgb(248, 205, 11);
  background-color: rgb(0, 0, 0);
}
/*SECTION:Footer CSS [END]*/
@media (max-width:1200px) {
.container-aboutus{
  gap: 0;
}
}
@media (max-width:1000px) {
  .pic-aboutus img{
    width: 333px;
  }
}
@media (max-width:800px){
  .container-aboutus{
    flex-direction: column;
  }
  .pic-aboutus img{
    visibility: hidden;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  text-decoration: none;
  color: var(--black);
}

.main-left-award {
  margin: auto;
}
.awards-left-fivepic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.pics-main img,
.pic-two-text img {
  width: 800px;
  margin-top: 20px;
}
.fivepic-text{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
} 
.fivepic-text,
.web-designer {
  margin: auto;
  text-align: center;
  position: relative;
}
.fivepic-text a,
.web-designer a {
  margin-right: 100px;
text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  transition: 0.5s;
  color: var(--black);
}
.fivepic-text a:hover,
.web-designer a:hover {
  text-decoration: underline;
  transition: 0.5s;
  text-decoration-color: var(--yellow);
}

.texts-aftertext,
.text-webdesigner {
  padding: 15px;
  
  height: 60px;
  background-color: var(--yellow);
}
.texts-aftertext p,
.text-webdesigner p {
  color: var(--white);
  background-color: var(--yellow);
  display: inline-block;
}
.change-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 660px;
}
.change-pages p {
  color: var(--white);
  padding: 5px 10px;
  margin-right: 10px;
  color: gray;
  border: 2px solid gray;
  transition: 0.1s;
}
.change-pages p:hover {
  background-color: var(--yellow);
  cursor: pointer;
  transition: 0.6s;
  border: 2px solid var(--yellow);
}
.main-container{
  padding: 110px 134px 158px
}
.texts-aftertext p{
  color: var(--White);
}